// Body
$body-bg: #F8F2EB;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary: #274001;
$list-group-bg: #F8F2EB;
$list-group-hover-bg: #F2E6D8;